
  <h1>Active Projects</h1>

<% if @projects.any?() %>
  <ul>
    <% @projects.each() do |project| %>
      <li><a href="/projects/<%= project.id()%>"><%= project.name()%></a> </li>
    <% end %>
  </ul>
<% else%>
<p>no projects</p>
<%end%>

<a href="/">Back to Home Page</a>
