
<% if @projects.any?() %>
  <h1>Here is our library of books!</h1>

  <ul>
    <% @books.each() do |book| %>
      <li><a href="/books/<%= book.id()%>">Title: <%= book.title()%><br> Author: <%= book.author() %></a> </li>
    <% end %>
  </ul>

<% else %>

    <p>There are no lists yet!</p>

<% end %>


<a href="/">Back to Home Page</a>
Contact GitHub API Training Shop Blog About
